In [2]:
import pandas as pd
from sklearn.datasets import make_multilabel_classification
X, Y  = make_multilabel_classification(n_samples=500, n_features=5, n_classes=5, n_labels=2, length=50, allow_unlabeled=True, sparse=False, return_indicator='dense', return_distributions=False, random_state=None)
df = pd.DataFrame(X, columns=['f1','f2','f3','f4','f5'])
df2 = pd.DataFrame(Y, columns=['c1','c2','cx','cy','cz'])
df2['c3']=df2['cx']*4 + df2['cy']*2 +df2['cz']
df = df.join(df2[['c1','c2','c3']])
df.head()

     f1    f2    f3    f4    f5  c1  c2  c3
0  14.0  11.0  11.0   7.0  18.0   0   0   0
1  14.0   2.0  12.0  11.0  13.0   0   0   2
2  17.0   9.0   9.0  13.0   9.0   1   0   7
3  11.0   7.0  22.0   9.0   5.0   1   0   7
4  17.0  15.0   0.0  11.0  15.0   0   1   0

In [3]:
df.to_csv('data.csv')